<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{$basePath}/node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
<title>{ifset title}{include title|stripHtml} | {/ifset}Pig Latin Translator</title>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type, container">{$flash->message}</div>
	<div class="container">
        {include content}
	</div>
	{block scripts}
	<script src="{$basePath}/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="{$basePath}/node_modules/bootstrap/dist/js/bootstrap.js"></script>
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	<script src="{$basePath}/js/nette.ajax.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>
